<div class="menu">
    <% if (loggedInUser && loggedInUser.username) { %>
        <div class="menu-item"><a href="/inbox">Inbox</a></div>
        <div class="menu-item"><a href="/users">Users</a></div>
        <div class="menu-item"><a href="#" onclick="logout()">Logout</a></div>
    <% } else { %>
        <div class="menu-item"><a href="/">Home</a></div>
    <% } %>
</div>

<script>
    const logout = async () => {
        await fetch("/", {
            method: "DELETE"
        })
        alert("You are logging out")
        setTimeout(() => {
            window.location.replace("/")
        }, 1000);
    }
</script>
