<div class="menu">
    <% if (loggedInUser && loggedInUser.username) { %>
        <div class="menu-item"><a href="/inbox">Inbox</a></div>
        <% if (loggedInUser && loggedInUser.role === "admin") { %>
            <div class="menu-item"><a href="/users">Users</a></div>
        <% } %>
        <div class="menu-item">
            <% if (loggedInUser && loggedInUser.avatar) { %>
                <img 
                    src="./uploads/avatars/<%= loggedInUser.avatar %>"
                    alt="<%= loggedInUser.name %>"
                />
            <% } else { %>
                <img 
                    src="./images/nophoto.png" 
                    alt="<%= loggedInUser.name %>"
                />
            <% } %>
            <a href="#" onclick="logout()">Logout</a>
        </div>
    <% } else { %>
        <div class="menu-item"><a href="/">Home</a></div>
    <% } %>
</div>

<script>
    const logout = async () => {
        if(confirm("Are you sure you want to logout?")) {
                await fetch("/", {
                method: "DELETE"
            })
            alert("You are logging out")
            setTimeout(() => {
                window.location.replace("/")
            }, 1000);
        }
    }
</script>
